body {
    background-color: rgb(147, 195, 225);
}

header {
    font-family: 'Pacifico', cursive;
    color: gold;
    background: linear-gradient(0deg, rgb(147, 195, 225), rgb(77, 77, 240), blue);
}

#rain {
    color: darkblue;
}

#search-container {
    background-color: rgb(233, 233, 233);
    width: 100%;
}

#button-list li:hover {
    background-color: rgb(134, 175, 252);
    cursor: pointer;
}

#weather-container {
    width: 100%;
}

#uv {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.uv-low {
    background-color: green;
}

.uv-moderate {
    background-color: yellow;
    color: darkslategray !important;
}

.uv-high {
    background-color: darkorange;
}

.uv-very-high {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}

.forecast {
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px black;
}

.fa-backspace:hover {
    background-color: rgba(255, 0, 0, 0.598);
}