#card-container {
    background-color: rgb(233, 233, 233);
    width: 100%;
}

#button-list li:hover {
    background-color: rgb(134, 175, 252);
    cursor: pointer;
}

#weather-container {
    width: 100%;
}

#uv {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.uv-low {
    background-color: green;
}

.uv-moderate {
    background-color: yellow;
    color: darkslategray !important;
}

.uv-high {
    background-color: darkorange;
}

.uv-very-high {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}