body {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    /*background-color: rgb(147, 195, 225);*/
    background-image: url("https://m.media-amazon.com/images/I/51lVOpJU2FL.jpg");
}

header {
    font-family: 'Pacifico', cursive;
    /*background: linear-gradient(0deg, rgb(147, 195, 225), rgb(100, 178, 227), rgb(96, 96, 240), rgba(200, 203, 163, 0.653), rgb(77, 77, 240), blue);*/
}

#shine {
    color: gold;
    background: url('https://img.freepik.com/free-vector/sun-rays-design_24911-42773.jpg?size=338&ext=jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rain {
    color: darkblue;
    background: url('https://freedesignfile.com/upload/2018/03/Rainy-days-background-vector.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 450px) {
    header h1{
        font-size: 40px;
    }
}

#search-container {
    background-color: rgba(120, 187, 228, 0.687);
    width: 100%;
    border: 5px inset rgba(100, 148, 237, 0.632);
}

#button-list li:hover {
    background-color: rgba(255, 237, 103, 0.66);
    cursor: pointer;
}

#weather-container {
    width: 100%;
    border: 5px inset rgba(100, 148, 237, 0.632);
    background-color: rgba(120, 187, 228, 0.687);
}

#uv {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.uv-low {
    background-color: green;
}

.uv-moderate {
    background-color: yellow;
    color: darkslategray !important;
}

.uv-high {
    background-color: darkorange;
}

.uv-very-high {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}

#current-icon {
    transform: scale(2);
}

.forecast {
    background-color: rgba(255, 255, 0, 0.536);
    color: rgb(18, 18, 235);
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px black;
}

.fa-backspace:hover {
    background-color: rgba(255, 0, 0, 0.598);
}