body {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    background-image: url('images/sky-background.jpg');
    animation:clouds 110s linear infinite;
}

@keyframes clouds{
    0%{background-position:0 0;}
    100%{background-position:-2122px 0;}
}

.jumbotron {
    font-family: 'Pacifico', cursive;
    background: none;
}

@media (max-width: 430px) {
    .display-2 {
        font-size: 20vw;
        margin-left: -5vw;
    }
    body {
        object-fit: cover;
    }
}

#rain {
    color: darkblue;
    background: url('images/rain.webp') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#shine {
    color: gold;
    background: url('images/shine.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search-container {
    background-color: rgba(120, 187, 228, 0.687);
    width: 100%;
    border: 5px inset rgba(100, 148, 237, 0.632);
    box-shadow: 2px 2px 15px -5px black;
}

#button-list li:hover {
    background-color: rgba(255, 255, 0, 0.68);
    cursor: pointer;
}

#weather-container {
    width: 100%;
    border: 5px inset rgba(100, 148, 237, 0.632);
    background-color: rgba(120, 187, 228, 0.687);
    box-shadow: 2px 2px 15px -5px black;
}

#uv {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.uv-low {
    background-color: green;
}

.uv-moderate {
    background-color: yellow;
    color: darkslategray !important;
}

.uv-high {
    background-color: darkorange;
}

.uv-very-high {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}

#current-icon {
    transform: scale(2);
}

.forecast {
    background-color: rgba(255, 255, 0, 0.536);
    color: rgb(18, 18, 235);
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px black;
}

.fa-backspace:hover {
    background-color: rgba(255, 0, 0, 0.598);
}